@import './Navbar.css';
@import './Footer.css';
@import './Home.css';
@import './Blogs.css';
@import './HowItWorks.css';
@import './Team.css';
@import './Login.css';


html,
body,
* {
  margin: 0;
  padding: 0;
}

body{
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 0px;
}

.Container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  margin-bottom: 200px;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gap-30{
  gap: 130px;
}